name: Deploy a simple application
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: "greetings!"
        run: echo "Welcome"
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Deploy the application
        run: |
          echo "Deploying the application..."
          echo "Deployed the application successfully!"

        # image: docker:latest
        # services:
        #   docker:
        #     image: docker:19.03.12-dind
        #     options: >-
        #       --privileged
        #       --network host
        #       --name docker
        #       -e DOCKER_TLS_CERTDIR=/certs
        #       -v /var/run/docker.sock:/var/run/docker.sock
        #       -v /certs:/certs
      
      # - name: "Build docker image"
      #   run: |
      #     echo "Building docker image..."
      #     docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp .

      # - name: "login to dockerhub"
      #   run: |
      #     echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      # - name: "push to docker hub"
      #   run: |
      #     docker push ${{ secrets.DOCKERHUB_USERNAME }}/myapp
    
      # runs-on: [self-hosted, linux, x64] 

      - name: Analyze with SonarQube

        # You can pin the exact commit or the version.
        # uses: SonarSource/sonarqube-scan-action@v1.1.0
        # uses: SonarSource/sonarqube-scan-action@7295e71c9583053f5bf40e9d4068a0c974603ec8
        run: |
          echo "Running SonarQube analysis..."
          docker run -d --name sonarqube -e SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true -p 9000:9000 sonarqube:latest
