name: Deploy a simple application
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: "greetings!"
        run: echo "Welcome"
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Deploy the application
        run: |
          echo "Deploying the application..."
          echo "Deployed the application successfully!"
      
      # - name: "Build docker image"
      #   run: |
      #     echo "Building docker image..."
      #     docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp .

      # - name: "login to dockerhub"
      #   run: |
      #     echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      # - name: "push to docker hub"
      #   run: |
      #     docker push ${{ secrets.DOCKERHUB_USERNAME }}/myapp
    
    # runs-on: [self-hosted, linux, x64] 
